

@media (orientation: landscape) {
    .content_center {
        border-radius: 10px;
        width: 60%;
        padding: 20px;
        margin: 0 auto;
        background-color: white;
    }
}

@media (orientation: portrait) {
    .content_center {
        border-radius: 10px;
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        background-color: white;
    }
}


.content_center img {
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
}

h1 {
    font-family: "Impact"
}

.popa {
    font-family: "Impact";
    margin: 1px;
    color: black;
}