.registration-info {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 60%;
    background-color: white;
    box-sizing: border-box;
}

.registration-info input,
.registration-info textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: medium;
    text-align: center;
}

.registration-info button {
    background-color: #28a745;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
