

@media (orientation: landscape) {
    .content_left {
        width: 60%;
        text-align: left;
        margin-left: 20%;
        padding: 20px;
    }
    .content_center * {
        text-align: center;
        width: 60%;
        margin: auto;
        border-radius: 10px;
        
    }
    .teacher-container img {
        border-radius: 10px;
        overflow: hidden; 
        width: 300px; 
    }
}


@media (orientation: portrait) {
    .content_left {
        width: 90%;
        text-align: left;
        margin-left: 20%;
        padding: 20px;
    }
    .content_center * {
        text-align: center;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        
    }
    .teacher-container img {
        border-radius: 10px;
        overflow: hidden; 
        width: 200px; 
    }
}

.teacher-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.teacher-container .teacher-info {
    background-color: white;
    flex: 1;
}
.teacher-info p {
    background-color: white;
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
}

h1 {
    font-family: "Impact";
}

h2 {
    font-family: "Impact";
}

h3 {
    font-family: "Impact";
}